:root {
    --main-width: 54rem;
    --sidebar-width: 26rem;
    --light-green: #89c987;
    --text-colour: #444444;
    --vertical-spacing: 1.75rem;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'opensans', Arial, sans-serif;
    color: var(--text-colour);
    font-size: 100%;
    line-height: 1.5;
    display: grid;
    grid-template-columns: auto max-content 3rem max-content auto;
    grid-template-areas:
        "nav    nav     nav     nav     nav     "
        ".      intro   .       sidebar .       "
        ".      main    .       sidebar .       "
        "footer footer  footer  footer  footer  "
    ;
}

a {
    color: #1E531D;
}

.navigation {
    grid-area: nav;
    z-index: 1;
    padding: 1rem;
    padding-bottom: 3rem;
}

.navigation h1 {
    display: block;
    background: url('../img/logo.svg') top center no-repeat;
    background-size: 100%;
    max-width: 23.4375rem;
    height: 5.875rem;
    text-indent: -100rem;
    overflow: hidden;
    margin: 0 0 3rem 0;
    width: 100%;
}

.header-image {
    position: relative;
    background-color:  black;
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
}

.header-image::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.header-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.intro {
    grid-area: intro;
    z-index: 1;
    color: white;
}

.main {
    grid-area: main;
}

.main > *+* {
    margin: var(--vertical-spacing) 0 0 0;
}

.intro,
.main {
    max-width: var(--main-width);
}

.sidebar {
    max-width: var(--sidebar-width);
    grid-area: sidebar;
    z-index: 1;
}

.box-out {
    background-color: var(--light-green);
    border-radius: 0.375rem;
    margin: var(--vertical-spacing) -2rem 0;
    padding: 2rem;
    padding-left: 3rem;
}

.box-out > *+* {
    margin-top: 1rem;
}

.box-out span {
    font-weight: bold;
}

footer {
    grid-area: footer;
}

header, footer, main, aside {
    margin: 0;
    padding: 1rem;
}

header div, footer div, main div, aside form {
    margin: 0 auto;
    padding: 1rem;
    max-width: 960px;

}

#skiptocontent {
	padding: .3rem;
	position: absolute;
	top: -3rem;
	left: 0;
	color: white;
	background: red;
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}

#skiptocontent:focus {
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
}

@media (prefers-reduced-motion: reduce) {
	#skiptocontent {
		transition-duration: 0.001ms !important;
	}
}

h2 {
    font-size: 4.5rem;
    font-size: min(max(1.5rem, 7.258vw), 72px);
    line-height: 0.9;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: 1.5rem;
    font-size: min(max(1.1rem, 2.419vw), 24px);
    line-height: 1.2;
    font-weight: normal;
}

aside form {
    background: #1E531D;
    color: white;
    border-radius: 8px;
    padding: 2rem;
}

aside h2, aside h3 {
    margin: 0;
}

label {
    display: block;
    line-height: 2;
}

input, button {
    display: block;
    width: calc(100% - 10px);
    border: 5px solid white;
    font-size: 1.125rem;
    line-height: 2.5;
    margin: 0 0 1rem 0;
    padding: 0;
}

label[for=name], label[for=email] {
    display: none;
}

input[type=checkbox] {
    display: none;
}

label[for=terms] {
    display: block;
    position: relative;
    padding-left: 2.5rem;
}

label[for=terms]::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: #1E531D;
    border: 2px solid white;
    margin: 0.25rem 1rem 1rem 0;
}

input[type=checkbox]:checked + label[for=terms]::after {
    content: "";
    display: block;
    position: absolute;
    left: 0.85rem;
    top: 0.95rem;
    width: 1em;
    height: 0.5em;
    transform: translate(-50%, -50%) rotate(-45deg);
    border: 2px solid white;
    border-width: 0px 0px 2px 2px;
}

button {
    width: calc(100%);
    border: 5px solid #32852E;
    margin: 0;
    padding: 0;
    background: #32852E;
    font-weight: 700;
    color: white;
    margin-top: 1rem;
}

details {
    padding: 0 1rem 1rem;
    margin: 0;
    transition: all 0.3s ease;
    border-bottom: 1px solid #e8e8e8;
}

summary {
    padding: 1rem 1rem 0 1rem;
    margin: 0 -1rem 0 -1rem;
    list-style: none;
    transition: all 0.3s ease;
    font-weight: bold;
}

summary:after {
    content: '+';
    background: green;
    color: white;
    float: right;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
}

details[open] summary:after {
    content: '-';
}

summary:hover {
    cursor: pointer;
}

summary:hover:after {
    background: black;
}

footer {
    background: #e8e8e8;
    border-top: 1px solid #e8e8e8;
    color: #666;
    margin: 2rem 0 0 0;
}
